body{
    background-color: rgba(54, 54, 254, 0.562);
}
.titre {
    font-size: 50px;
  text-align: center;
   font-weight: bold;
}

.para1{
    display: flex;
    justify-content:space-evenly;   
}
.para2{
    font-size: 20px;
    font-weight: bold;
}
.para3{
    font-size: 20px;
    font-weight: bold;
}

.button{
    display: flex;
    flex-direction:column;
   margin: 90px;
}

.button2{
    font-weight: bold;
    color: red;
    font-size: 40px;
    border-radius: 30px;
}

#resultat{
    display: flex;
    flex-direction:column;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#interpretation{
    display: flex;
    flex-direction:column;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.title {
    font-family: 'Abril Fatface', cursive;
    text-align: center;
   font-weight: bold;
   color: blue;
   background-color: black;
   
}
.title2{
    display: flex;
    flex-direction: column;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    font-weight: bold;
    position: relative;
    top: 80px;
   
}